html, body {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
    color: #444;
    padding: 0;
    margin: 0;
    min-width: 325px;
    position: relative;
    font-size: 15px;
    background: #fff;
    user-select: none;
}
@media (min-resolution: 192dpi) {
    body {
        font-weight: 300;
    }
}
.centerVertical {
    margin-top: 15%;
}
.materialIcons {
    font-family: 'Material Icons', serif;
    height: min-content;
    border-radius: 50%;
    padding: 5px;
}
.bigIcons {
    font-size: 30px;
}
.selectableIcons:hover {
    background: #bbbbbb;
    transition: all ease-out 0.5s;
}

a {
    outline: none;
    color: #3477db;
}
#popupContent {
    opacity: 0;
    transition: opacity 200ms ease;
}
#statusDetail a {
    color: #ffffff;
}
#header {
    padding: 15px;
    background: #777;
    color: #fff;
}
#header.available {
    background: #3477db;
}
#header.error {
    background: #a70707;
}

.group {
    padding: 10px 0;
}
.group:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

.menuOption {
    line-height: 2em;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    padding: 0 15px;
}
.menuOption:hover .optionText {
    text-decoration: underline;
}

#menuSlots {
    line-height: 2em;
    font-size: 16px;
    white-space: nowrap;
    padding: 0 15px;
    cursor: default;
}
#slots {
    display: flex;
    flex-direction: column;
}
.slotText:hover {
    cursor: pointer;
    text-decoration: underline;
}

#menuAssessor {
    line-height: 2em;
    font-size: 16px;
    white-space: nowrap;
    padding: 0 15px;
    cursor: default;
}
#assessor-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.assessor-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#assessor {
    display: flex;
    flex-direction: column;
}
.loading-gif {
    height: 12px;
    margin-left: 20px;
}
.tooltip {
    display: none;
    font-size: 10px;
    position: absolute;
    margin-top: -40px;
}
.iconBlock {
    font-size: 15px;
    display: inline-block;
    margin-top: 15%;
}

.dark {
    background: #353535;
    color: #b8b8b8;
}
.dark .group {
    border-color: #555;
}
